#################
## CoD
#################

build
*.tmp
*.wp


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## OSX
############

# Mac crap
.DS_Store
